@model IEnumerable<LocalizationFromDB.ViewModels.LocalizationResourceViewModel>

@{
    ViewData["Title"] = "Index";
    var cultures = ViewBag.Cultures as List<string>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceKey)
            </th>
            @foreach (var culture in cultures)
            {
                <th>@culture</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model) {
            <tr>
                <td>
                    @resource.ResourceKey
                </td>
                    @foreach (var culture in cultures)
                    {
                        <td>
                        @resource.LocalizedValues[culture]
                    </td>
                }
                    
                <td>
                    <a asp-action="Edit" asp-route-id="@resource.ResourceKey">Edit</a> |
                    <a asp-action="Details" asp-route-id="@resource.ResourceKey">Details</a> |
                    <a asp-action="Delete" asp-route-id="@resource.ResourceKey">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
